body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* Header section  */
.head-container {
  display: flex;
  gap: 97px;
  justify-content: center;
  background: rgba(229, 84, 115, 0.1);
  width: 100%;
  height: 850px;
  margin: 0px auto;
}
.left-container{
  margin-left: 200px;
}
.head-title {
  width: 800px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-top: 197px;
  margin-right: 240px;
}
.paragraph {
  width: 650px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.5;
}
.btn {
  background: #e55473;
  color: aliceblue;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  gap: 10px;
}
.img-container {
  width: 635px;
  height: 800px;
  padding-top: 50px;
  padding-right: 240px;
  padding-bottom: 0px;
}

/* Second section  */

.feature-title {
  /* width: 392px;
  height: 48px; */
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-top: 178px;
  margin-right: 764px;
  margin-left: 764px;
}
.pr {
  text-align: center;
  margin-right: 663px;
  margin-left: 663px;
  margin-bottom: 48px;
}

/* flowers photo section  */
.flower-photos {
  width: 1392px;
  display: flex;
  justify-content: center;
  margin-right: 240px;
  margin-left: 350px;
  margin-bottom: 128px;
  gap: 24px;
}

.photo-container {
  width: 464px;
  height: 538px;
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
}

.photo1 {
  width: 310px;
  height: 428px;
  margin-top: 110px;
  margin-right: 78px;
  margin-left: 76px;
}
.photo2 {
  width: 370px;
  height: 370px;
  margin: 117px 47px 51px 47px;
}
.photo3 {
  width: 314px;
  height: 471px;
  margin: 67px 75px 0px 75px;
}
.links {
  color: #272727;
  /* width: 181px; */
  height: 35px;
  font-size: 30px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 110px;
  margin-top: 40px;
  text-decoration: underline;
}

/* Comment section  */
.feedback-section {
  height: 800px;
  background: rgb(242, 239, 239);
}
.feeadback-title {
  text-align: center;
  width: 900px;
  color: #272727;
  font-size: 40px;
  font-weight: 600;
  margin-left: 600px;
  padding-top: 50px;
}
.all-feadback {
  display: flex;
  justify-content: space-around;
}
.feedback {
  margin-top: 40px;
}
.feed1,
.feed2 {
  padding-right: 200px;
  border-right: 2px solid black;
}
.feedback-img {
  width: 200px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.icons {
  margin-left: 40px;
  size: 20px;
  font-size: 24px;
}
.complement {
  margin-left: 60px;
  font-size: 24px;
  margin-bottom: 20px;
}
.comment {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.name {
  font-size: 20px;
  margin-bottom: 50px;
}

/* sale section  */
.sale {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 650px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 128px;
}
.sale-title {
  color: #272727;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 1.5;
  margin: 230px 215px 24px 50px;
}
.sale-color {
  color: #e55473;
}
.sale-pr {
  text-align: center;
  margin-bottom: 32px;
}
.signbtn {
  margin-left: 150px;
}

.sale-photo {
  width: 318px;
  height: 420px;
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

/* Insta section  */
.inst {
  padding-left: 130px;
  margin-top: 128px;
}
.insta {
  margin-bottom: 48px;
}

.canvas {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 48px;
  margin-bottom: 128px;
}

/* Input section  */
.banner {
  position: relative;
  width: 1440px;
  margin-left: 360px;
  margin-bottom: 128px;
}
.banner-text {
  position: absolute;
  top: 115px;
  left: 300px;
}

.banner-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-left: 200px;
}
.banner-para {
  margin-left: 290px;
  margin-bottom: 48px;
}
.input-email {
  width: 600px;
  height: 22px;
  border-radius: 8px;
  border: none;
  background: #fff;
  margin-right: 16px;
  padding-top: 22px;
  padding-left: 30px;
  padding-bottom: 22px;
  font-size: 20px;
  font-weight: 400;
}

/* footer section  */
.foot {
  width: 100%;
  height: 500px;
  background: #111010;
}
.shopclr {
  color: white;
}
.foot-title {
  color: #272727;
  font-size: 48px;
  font-weight: 800;
  margin-top: 128px;
  margin-right: 764px;
  margin-left: 850px;
  padding-top: 120px;
  margin-bottom: 24px;
}
.footpr1 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-left: 650px;
  margin-bottom: 32px;
}

.footpr2 {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-left: 650px;
}
